<div class="city" *ngIf="city" [routerLink]="['/details', city.id]">
  <h2 class="title">{{city.name}}</h2>
  <img style="vertical-align:middle" alt="weatherIcon" [src]=getWeatherIcon(city)>
  <table>
    <tbody>
    <tr>
      <td>
        <span class="heading">Current Temperature : </span>
      </td>
      <td class="detail">
        <span>{{city.main?.temp}}<sup>o</sup>C</span>
      </td>
    </tr>

    <tr>
      <td>
        <span class="heading">Sunrise Time : </span>
      </td>
      <td class="detail" *ngIf="city.sys">
        <span>{{ (city.sys.sunrise + city.sys.timezone)  | date:'HH:mm:ss' }} AM</span>
      </td>
    </tr>

    <tr>
      <td >
        <span class="heading">Sunset Time : </span>
      </td>
      <td class="detail" *ngIf="city.sys">
        <span>{{ (city.sys.sunset + city.sys.timezone) * 1000 | date:'HH:mm:ss' }} PM</span>
      </td>
    </tr>
  </table>
</div>
