.city {
  width: 95%;
  padding: 5%;
  border: 0.1px solid rgba(204, 204, 204, 0.75);
  box-shadow: 5px 5px 5px #aaaaaa;
  transition: box-shadow 0.3s ease-in-out;

  .title {
    display: inline-block;
    vertical-align: sub;
  }

  table {
     width: 100%;
     tr {
       height: 40px;
     }

     td {
       span.heading  {
         font-weight: 500;
       }
     }
  }

}
