<div class="side-menu">
  <a [routerLink]="['/home']" matRipple>
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  <a [routerLink]="['/settings']" matRipple>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </a>
</div>
