table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #cecece;
}

td,
th {
  border: 1px solid #cecece;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #dddddd;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .details-container {
    .city {
      font-size: 15px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .details-container {
    .city {
      font-size: 20px;
    }
  }
}
