<div class="details-container">
  <h1 class="city" *ngIf="city">Weather Forecast of {{city?.name}} for next 5 days</h1>

  <mat-form-field>
    <mat-label>Time in 24 hour format</mat-label>
    <mat-select [(ngModel)]="timeForForeCast">
   <mat-option *ngFor="let time of timesForForeCast" [value]="time">{{time}}</mat-option>
  </mat-select>
  </mat-form-field>

  <div class="forecast-container" >
      <table>
        <tr>
          <th>Date</th>
          <th>Temperature</th>
          <th>Sea Level</th>
          <th>Weather</th>
        </tr>

<!--******************** filter to show forecast at 9 daily *******************-->
        <tr *ngFor="let fc of weatherForeCastList | dateAtHour: timeForForeCast">
          <td>
          {{fc.dt_txt | date:"dd/MM/yyyy"}}
          </td>
          <td>
            {{fc.main?.temp}}<sup>o</sup>C
          </td>
          <td>
            {{fc.main?.sea_level}}
          </td>
          <td>
            <img [src]="getWeatherIcon(fc)" alt="weatherIcon">
          </td>
        </tr>
      </table>
  </div>
</div>
