
.cities-container {
  display: flex;
  flex-wrap: wrap;
  .city-block {
    width: 27%;
    margin: 3%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cities-container {
    .city-block {
      width: 88%;
    }
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cities-container {
    .city-block {
      width: 43%;
      margin: 3%;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cities-container {
    .city {
      width: 50%;
      margin: 2%;
    }
  }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cities-container {
    .city-block {
      width: 28%;
      margin: 2.5%;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .cities-container {
    .city-block {
      width: 28%;
      margin: 2.5%;
    }
  }
}



