<div class="cities-container">
  <div class="full-width">
    <mat-form-field>
      <mat-label>Select Cities</mat-label>
      <mat-select [(ngModel)]="selCities" (selectionChange)="getCitiesWithWeather()" multiple>
        <mat-option *ngFor="let city of citiesList;trackBy:cityById" [value]="city.id">{{city.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="city-block" *ngFor="let city of citiesTempList">
   <!------splitting presentation and data fetch logics. Moving presentation logic to reusable component-------->
      <app-city [city]="city"></app-city>
  </div>

</div>


