footer {
  text-align: center;
  height: 50px;
  padding: 10px;
  background-color: #4f6b88;
  color: #ffffff;
  border-top: 2px solid #ffffff;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

